.navbar {
  padding: 0px 0;
  background-color: #070707;
}

.navbar-toggle {
  color: #fff;
  font-size: 1.5em;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  margin: 0;
  background-color: #3a3633;
  padding: 0;
  z-index: 9998;
  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0bbb7;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-titulo {
  font-size: 35px;
  margin-left: 10px;
  text-decoration: none;
}
