<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
        <a class="navbar-titulo">Datainfo</a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">administrador</li>
    <li class="navbar-menuitem"><a [routerLink]="['usuarios']">Usuário</a></li>
  </ul>

</nav>
