<app-navbar></app-navbar>

<router-outlet></router-outlet>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
  </p-confirmDialog>
