<div class="container">
  <form [formGroup]="usuarioForm" (ngSubmit)="salvar()">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Usuário</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Email</label>
        <input pInputText type="email" name="email" formControlName="email" required>
        <p-message *ngIf="!!usuarioForm.get('email').errors?.required && (usuarioForm.get('email').touched)"
          severity="error" text="Informe um email">
        </p-message>
        <p-message *ngIf="!!usuarioForm.get('email').errors?.email && usuarioForm.get('email').touched"
          severity="error" text="Email inválido">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" formControlName="nome" required >
        <p-message *ngIf="!!usuarioForm.get('nome').errors?.required && (usuarioForm.get('nome').touched)"
          severity="error" text="Informe um nome">
        </p-message>
        <p-message *ngIf="!!usuarioForm.get('nome').errors?.minlength"
          severity="error" text="Nome tem que ter mais de 5 caracteres">
        </p-message>
        <p-message *ngIf="!!usuarioForm.get('nome').errors?.maxlength"
          severity="error" text="Nome tem que ter menos de 50 caracteres">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99" name="cpf" formControlName="cpf"></p-inputMask>
        <p-message *ngIf="!!usuarioForm.get('cpf').errors?.required && (usuarioForm.get('cpf').touched)"
            severity="error" text="Informe um CPF">
          </p-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone</label>
        <p-inputMask mask="(99) 9999-9999" name="telefone" formControlName="telefone" required></p-inputMask>
        <p-message *ngIf="!!usuarioForm.get('telefone').errors?.required && (usuarioForm.get('telefone').touched)"
          severity="error" text="Informe um telefone">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Função</label>
        <p-dropdown [options]="funcoes" [filter]="true" placeholder="Selecione" name="funcaoUsuarioExterno" filterBy="label,value.name" formControlName="funcaoUsuarioExterno" required>
        </p-dropdown>
        <p-message *ngIf="!!usuarioForm.get('funcaoUsuarioExterno').errors?.required && (usuarioForm.get('funcaoUsuarioExterno').touched)"
          severity="error" text="Informe uma função">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Perfil</label>
        <p-dropdown [options]="perfis" [filter]="true" placeholder="Selecione" name="perfil" formControlName="perfil" required>
        </p-dropdown>
        <p-message *ngIf="!!usuarioForm.get('perfil').errors?.required && (usuarioForm.get('perfil').touched)"
          severity="error" text="Informe um perfil">
        </p-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 5px" [disabled]="usuarioForm.invalid"></button>
        <button pButton type="button" label="Voltar" style="margin-right: 5px"
        class="ui-button-info" routerLink="/usuarios"></button>
      </div>

    </div>
  </form>
</div>
