<p-table [value]="usuarios" [paginator]="true" [rows]="filtro.itensPorPagina"
  [responsive]="true" [totalRecords]="totalRegistros" dataKey="codigo"
  [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" class="ui-datatable .ui-datatable-data">
    <ng-template pTemplate="header">
        <tr>
            <th class="col-email-header">E-mail</th>
            <th class="col-nome-header">Nome</th>
            <th class="col-perfil-header">Perfil</th>
            <th class="col-habilitado-header">Habilitado</th>
            <th class="col-botao-header"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        <tr>
            <td class="col-email-content">{{rowData.email}}</td>
            <td class="col-nome-content">{{rowData.nome}}</td>
            <td class="col-perfil-content">
              {{ rowData.perfil == 0 ? 'Aluno' :
                 rowData.perfil == 1 ? 'Gestor Municipal':
                 rowData.perfil == 2 ? 'Gestor Estadual' :
                 rowData.perfil == 3 ? 'Gestor Nacional' : 'Outro'}}
            </td>
            <td class="col-habilitado-content">
              <a [pTooltip]="rowData.situacao == 'A' ? 'Desativar' : 'Ativar'" tooltipPosition="top"
                 [style.color]="rowData.situacao == 'A' ? 'blue' : 'red'" (click)="confirmarAtivarOuDesativar(rowData)">
                {{rowData.situacao == 'A' ? 'Ativado' : 'Desativado'}}
              </a>
            </td>
            <td class="col-botao-content">
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                style="margin-right: 5px" class="ui-button-primary" [routerLink]="['/usuarios', rowData.codigo]"></a>
                <a pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(rowData)" style="margin-right: 5px" class="ui-button-danger"></a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="5" style="text-align: center">
                Nenhum usuário encontrado
            </td>
        </tr>
    </ng-template>
</p-table>
