.col-email-header {
  width: 200px;
  text-align: center;
}

.col-nome-header {
  width: 200px;
  text-align: center;
}

.col-perfil-header {
  width: 100px;
  text-align: center;
}

.col-habilitado-header {
  width: 100px;
  text-align: center;
}

.col-botao-header {
  width: 60px;
  text-align: center;
}

.col-email-content {
  text-align: center;
}

.col-nome-content {
  text-align: center;
}

.col-perfil-content {
  text-align: center;
}

.col-habilitado-content {
  text-align: center;
}

.col-botao-content {
  text-align: center;
}
