<div class="container">
  <div class="ui-g">
      <form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g-12">
          <h1>Usuarios</h1>
        </div>

        <div class="ui-g-12  ui-md-4 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Situação</label>
          <p-dropdown [options]="situacao" placeholder="Selecione" name="situacao"
             [(ngModel)]="filtro.situacao"></p-dropdown>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Perfil</label>
          <p-dropdown [options]="perfil" placeholder="Selecione" name="perfil"
             [(ngModel)]="filtro.perfil"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar" ></button>
        </div>
      </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
        <app-lista-usuario [usuarios]="usuarios" [totalRegistros]="totalRegistros"></app-lista-usuario>
    </div>
    <div class="ui-g-12">
        <button pButton type="submit" label="Novo Usuario" routerLink="/usuarios/novo"></button>
    </div>
  </div>

</div>
